@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
    var rootNode = Umbraco.TypedContentAtRoot();
    var currentNode = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    var BloghotItems = rootNode.DescendantsOrSelf("blogItem").Where(x => x.GetPropertyValue<bool>("blogHot")).ToList();
    var Blog = rootNode.DescendantsOrSelf("bLog").First();
    var improveItem = rootNode.DescendantsOrSelf("improvePacketForm").First();
    var bannerArry = currentNode.GetPropertyValue<string>("banner").Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
    var discoverArray = currentNode.GetPropertyValue<string>("discover").Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
}

<!--Start slider-->
<div id="silder">
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1200px;height:882px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1200px;height:882px;overflow:hidden;">

            <div><img data-u="image" src="" /></div>
        </div>
    <!-- Thumbnail Navigator -->
    </div>
</div>
<!--startHr-->
<div class="x-content-band vc" style="background-color: #eee;padding-top: 0px;padding-bottom: 0px;">
    <div class="x-container wpb_row">
        <div>
            <hr class="x-gap" style="margin: 3em 0 0 0;">
        </div>
    </div>
</div>
<!--End Hr-->
<!--End slider-->
<!-- Start ROOM DESIGN PACKAGES-->
<div id="DESIGN PACKAGES" class="body" style="height:800px;width:auto">
    <div style="width:1200px;height:732.38px;margin:0 auto">
        <div id="pricing" class="container-fluid" style="width:1200px;height:33px;margin:0 auto">
            <div class="text-center" style="margin-bottom: 77px">
                <h2>ROOM DESIGN PACKAGES </h2>
            </div>
            <div class="row slideanim">
                <div class="col-sm-4 col-xs-12">
                    <div class="">
                        <div class="text-center">
                            <h1>FURNISH </h1>
                        </div>
                        <div class="text-center">
                            <img class="aligncenter size-full wp-image-5253" src="https://krikla.com/wp-content/uploads/2018/02/krikla-design-service-250.png" alt="Furnish - Interior design services by Krikla" width="300" height="520">
                        </div>
                        <div class="text-center" style="margin-top:23px">
                            <button  class="btn btn-lg"><a href="@improveItem.Url">GET A QUOTE</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="text-center">
                        <div class="">
                            <h1>IMPROVE</h1>
                        </div>
                        <div class="">
                            <img class="aligncenter size-full wp-image-5254" src="https://krikla.com/wp-content/uploads/2018/02/krikla-design-service-350.png" alt="Improve - Interior design services by Krikla" width="300" height="520">
                        </div>
                        <div class="text-center" style="margin-top:23px">
                            <button class="btn btn-lg"><a href="@improveItem.Url">GET A QUOTE</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="text-center">
                        <div class="">
                            <h1>REFURBISH</h1>
                        </div>
                        <div class="">
                            <img class="aligncenter size-full wp-image-5255" src="https://krikla.com/wp-content/uploads/2018/02/krikla-design-service-600.png" alt="Refurbish - Interior design services by Krikla" width="300" height="520">
                        </div>
                        <div class="text-center" style="margin-top:23px">
                            <button class="btn btn-lg"><a href="@improveItem.Url">GET A QUOTE</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End ROOM DESIGN PACKAGES-->
<!--Start LATEST BLOG POSTS-->
<div id="BLOG POSTS" class="text-center" style="margin-top:200px">
    <hr />
    <div id="titlePost">
        <h2 class="center-text">
            <span>
                <h2>LATEST BLOG POSTS</h2>
            </span>
        </h2>
        <hr class="x-gap " style="margin: 3em 0 0 0;" />

    </div>
    <div class="clearfix"></div>
    <div id="jcarousel_wrapper">
        <div id="jcarousel">
            <ul>
                @foreach (var item in BloghotItems)
    {
        var thumbnail = Umbraco.TypedMedia(item.GetPropertyValue<int>("thumbnail"));
        var url = String.Empty;
        if (thumbnail != null)
        {
            url = thumbnail.Url;
        }
            <li class="@(BloghotItems.IndexOf(item) % 3 == 1 ? "center" : "")">
                <a style="opacity:1" href="@item.Url">

                    <div class="entry-wrap" style="width:35%;height:296.77px">
                        <div class="x-recent-posts-img" style="width:100%"><img src="@url" /></div>
                        <div class="x-recent-posts-content center-text" style="font-size:18px;color:black;height: 108px;padding-top: 10px;">
                            <h1 class="h-recent-posts" style=" font-size: 18px;padding-bottom: 10px;padding-left: 5px;padding-right: 3px;">@item.Name</h1>
                        </div>
                    </div>

                </a>
            </li>
}
            </ul>
        </div>
    </div>
    <div style="margin-top:15px;margin-bottom:15px;">

        <button class="button button_01" style="margin:0 auto"><a style="color:white" href="@Blog.Url">READ MORE POSTS</a></button>
    </div>
</div>
<!--End LATEST BLOG POSTS-->
<!--startHr-->
<div class="x-content-band vc" style="background-color: #eee;padding-top: 0px;padding-bottom: 0px;">
    <div class="x-container wpb_row">
        <div>
            <hr class="x-gap" style="margin: 3em 0 0 0;">
        </div>
    </div>
</div>
<!--End Hr--
<!--Start LOOKING FOR SOLUTIONS-->
<div id="SOLUTIONS" style="width:1200px;height:579px;margin:0 auto">
    <div class="text-center" style="margin-top: 73px; margin-bottom: 73px">
        <h2>
            <span>LOOKING FOR SOLUTIONS?</span>
            <br />
            <span>OUR CLIENTS SHARE THEIR STORIES….</span>
        </h2>
    </div>
    <div id="myCarousel" class="carousel text-center" data-ride="carousel">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; padding: 0px; height: 400px; overflow: visible;">
                    <div class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="margin-top: 0px; margin-bottom: 0px; height: 400px;">
                        <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1200px; height: 100%; max-height: none; left: 0px;">
                           
                            <li class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
                                <!--MainImages-->
                                <div class="slotholder";style="position: absolute; top: 0px;left: 0px;z-index: 0;width: 100%;height: 100%;visibility: inherit;opacity: 1;">
                                    <div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(https://krikla.com/wp-content/plugins/revslider/admin/assets/images/transparent.png);background-size: cover; background-position: center center;width: 100%;height: 100%;opacity: 1; visibility: inherit;z-index: 20;"></div>
                                </div>
                                <!--layer-->
                                    <div class="tp-parallax-wrap" style="position: absolute;display: block;visibility: visible;left: 266px;top: 0px;z-index: 5;">
                                        <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"style="z-index: 5; background-color: rgba(159, 181, 181, 0.5); border-color: rgba(175, 198, 198, 0.5); visibility: inherit; transition: none; text-align: inherit; line-height: 25px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 15px; white-space: nowrap; min-height: 507px; min-width: 934px; max-height: 507px; max-width: 934px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                            </div>
                                            <div class="tp-parallax-wrap"style="position: absolute; display: block; visibility: visible; left: 362px; top: 135px; z-index: 6;">
                                                <div class="tp-loop-wrap"style="position:absolute;display:block;">
                                                    <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                                        <div class="tp-caption   tp-resizeme" style="z-index: 6 ;min-width: 750px;max-width: 750px;white-space: normal;font-size: 18px;line-height: 26px;font-weight: 400;color: rgb(2, 2, 2);font-family: sans-serif;visibility: inherit;transition: none;text-align: inherit;border-width: 0px;margin: 0px; padding: 0px;letter-spacing: 0px;min-height: 0px; max-height: none;opacity: 1;transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);transform-origin: 50% 50% 0px;">
                                                            We highly recommend Krikla if you are looking for elegant and stylish decor, as well as fast and affordable service. Our newly built flat in Fulham is our second home and we didn't want to spend a fortune on furniture and interior design service. We wished to move as quickly as possible - in fact, as soon as we received the key from the apartment. Krikla's approach is amazingly efficient and their package perfectly matched our needs.
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <!--
               
    <div class="item">
        <h4>"Trang web myclass.vn làm cho chúng tôi thật sự ấn tượng... !!"<br><span style="font-style:normal;">Mỹ Linh , Chủ tịch  , Nhakhoaphutho  </span></h4>
    </div>
    <div class="item">
        <h4>"Hệ thống quản lý Kho của myclass.vn đã xây dựng giúp tôi tiết kiệm nhiều thời gian và chi phí "<br><span style="font-style:normal;">Mỹ Lê , Phó giám đốc , Enco </span></h4>
    </div>
        -->
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--End LOOKING FOR SOLUTIONS-->
<!--startHr-->
<div class="x-content-band vc" style="background-color: #eee;padding-top: 0px;padding-bottom: 0px;">
    <div class="x-container wpb_row">
        <div>
            <hr class="x-gap" style="margin: 3em 0 0 0;">
        </div>
    </div>
</div>
<!--End Hr-->
<!--End LOOKING FOR SOLUTIONS-->
<!-- Star OUR FOUR STEP PROCESS-->
<div id="STEP PROCESS" class="container-fluid">
    <div id="STEP PROCESS01" class="text-center" style="margin-bottom:50px">
        <div style="width:1200px;height:39px;margin:0 auto">
            <h2>OUR FOUR STEP PROCESS</h2>
        </div>
        <div style="width:1200px;height:21px;margin:0 auto">
            <span>Any happy design relationship has a great design process behind it.</span>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="text-center">
            <h2>
                Initial Visit
            </h2>
        </div>
        <div style="text-align:right">
            <span>Every home is unique. We’ll come round, take measurements, and listen to what you want to achieve.</span>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div>
            <img src="~/images/img_chania.jpg" />
        </div>
    </div>
    <!--STEP PROCESS02-->

    <div class="col-sm-6 col-xs-12">
        <div class="text-center">
            <img src="~/images/img_chania2.jpg" />
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="text-center">
            <h2>
                DESIGN CONCEPT
            </h2>
        </div>
        <div style="text-align:left" style="margin-bottom:20px">
            <span>
                We believe in a tailored approach that suits your needs.
                Our proposal will consider your style preferences to find the best design for you.
            </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--STEP PROCESS03-->

    <div class="col-sm-6 col-xs-12">
        <div class="text-center">
            <h2>
                2D AND/OR 3D DRAWING
            </h2>
        </div>
        <div style="text-align:right">
            <span>
                We believe in a tailored approach that suits your needs.
                Our proposal will consider your style preferences to find the best design for you.
            </span>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="text-center">
            <img src="~/images/img_chania2.jpg" />
        </div>
    </div>
    <!--STEP PROCESS04-->
    <div class="col-sm-6 col-xs-12">
        <div class="text-center">
            <img src="~/images/img_chania2.jpg" />
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">

        <div class="text-center">
            <h2>
                SHOPPING LIST
            </h2>
        </div>
        <div style="text-align:right">
            <span>
                We believe in a tailored approach that suits your needs.
                Our proposal will consider your style preferences to find the best design for you.
            </span>
        </div>
    </div>
</div>
<!--startHr-->
<div class="x-content-band vc" style="background-color: #eee;padding-top: 0px;padding-bottom: 0px;">
    <div class="x-container wpb_row">
        <div>
            <hr class="x-gap" style="margin: 3em 0 0 0;">
        </div>
    </div>
</div>
<!--End Hr-->
<!--End OUR FOUR STEP PROCESS-->
<!--Start DISCOVER WHAT’S POSSIBLE-->
<div id="POSSIBLE">
    <div id="SOLUTIONS" class="text-center" style="width:1200px;height:30px;margin:0 auto">
        <div class="text-center" style="margin-top: 73px; margin-bottom: 73px">
            <h2>
                <span>DISCOVER WHAT’S POSSIBLE</span>
            </h2>
        </div>
    </div>
    <div style="width:1200px;height:30px;margin:0 auto;font-size:18px;text-align:center; margin-top:10px;margin-bottom:10px">
        <p>We’ve worked with some wonderful clients. We’ve transformed empty spaces with inspirational and functional design. It’s all about the collaboration. Work with Krikla interior design, and together we’ll create something that truly shines.</p>
    </div>

    <div class="container">
        <br>
        <div id="myCarousel02" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <ul>
                      @foreach (var id in discoverArray )
                     {
                    var image = Umbraco.TypedMedia(id);
                    var url = String.Empty;
                    if (image != null)
                    {
                        url = image.Url;
                    }

                <li>
                    <div class="item  @(discoverArray.IndexOf(id) == 1 ? "active" : "")">
                        <img src="@url" alt="Empty" width="460" height="345">
                    </div>
                </li>

                    }
                </ul>
              
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel02" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel02" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container" style="width:1200px;height:180px;margin:0 auto">
        <button type="button" class="button" href="">VIEW OUR PORTFOLIO</button>

    </div>
</div>

<!--End DISCOVER WHAT’S POSSIBLE-->
